button {
    background-color: #3882F6;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
}

.header {
    display: flex;
    background-color: #1f2937;
}

.header > div {
    flex: 1;
}

.header > .logo {
    flex: 2;
    color: #f9faf8;
    font-size: 24px;

}




.main {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

.main div {
    font-size: 18px;
    color: #e5e7eb;
    flex: 1;
    align-items: center;

}

.main > div >p {
    flex: 1;

}



.hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.main > div {
    flex:  1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
}

.main > div > p {
    flex: 1;
}

.main > div > button {
    flex: 1;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    justify-content: space-evenly;
}

.square {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 10%;
    height: 90px;
    width: 90px;
}

.quote {
    background-color: #e5e7eb;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quote > div {
    flex: 2;
    font-style: italic;
    color: #1f2937;
}
.author {
    flex: 1;
    align-self:last baseline;
}

.CTA {
    width: 80%;
    margin: auto;
    border-radius: 3%;
    display: flex;
    align-items: center;
    background-color: #3882F6;
    justify-content: space-between;
}

.CTA > div{
    flex: 1;
    justify-content: center;
}